body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,

form,fieldset,input,textarea,p,blockquote,th,td {

padding: 0;

margin: 0;

}

table {

border-collapse: collapse;

border-spacing: 0;

}

fieldset,img {

border: 0;

}

address,caption,cite,code,dfn,em,strong,th,var {

font-weight: normal;

font-style: normal;

}

ol,ul {

list-style: none;

}

caption,th {

text-align: left;

}

h1,h2,h3,h4,h5,h6 {

font-weight: normal;

font-size: 100%;

}

q:before,q:after {

content:'';

}

abbr,acronym { border: 0;}a{text-decoration:none;}
p{padding:5px 0px;font-size: 14px;line-height: 180%;color: #666}
body{font-family: 'Lucida Grande', Tahoma, 'Hiragino Sans GB', 'Microsoft YaHei', Verdana, Arial, Sans-serif;background: #f8f8f8;}
.clearfloat{clear:both;}
.norm_top{background:#32a31c;height:43px}
.norm_top h1{padding:10px;color:#fff;font-size: 16px;}
.warper{float:left;background:#e7e7e7;width:66px;height:550px;border-right:1px solid #ccc;font-size:12px;text-align: center;position: relative;}
.leftnav{float:left;background:#f8f8f8;border-right:1px solid #edeeee;width:260px;padding:10px;overflow: auto;}
.centercode{float:right;height:550px;width: 900px;}
.htmlpic{margin:10px 0 5px 10px;background: url(images/579571.gif) no-repeat;width: 30px;height: 30px;}
.csspic{margin:10px;background: url(images/1069199.gif) no-repeat;width: 30px;height: 30px}
.jspic{margin:10px;background: url(images/1069206.gif) no-repeat;width: 30px;height: 30px}
.navborder{border:1px solid #c9c9c9;background:#fff;margin-top:10px;font-size:12px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius:5px;}
.navborder .navpad{padding: 10px}
.navborder .navpadbor{padding:10px;border-top:1px solid #e8e8e8}
.coldecor{color:#000; text-decoration : none}
.titlepad{padding-top:10px;font-size: 12px;text-indent:5px;font-weight: 700;}
.ceniframe{width:100%;height: 500px;overflow-x:hidden;border:none;}
.onlinpadd{margin: 0px 40px;font-family:Arial,Tahoma,"\5fae\8f6f\96c5\9ed1","\5B8B\4F53","STXihei";background: #f8f8f8}
.onlinpadd h2{margin:80px 0px 10px 0px;font-size: 24px;border-bottom: 1px solid #ccc;padding-bottom: 20px}
.onlinpadd h1{margin:80px 0px 10px 0px;font-size: 32px;}
.onlinpadd pre.prettyprint span{line-height: 12px;font-family: 'Lucida Grande', Tahoma, 'Hiragino Sans GB', 'Microsoft YaHei', Verdana, Arial, Sans-serif;}
.onlinpadd pre.prettyprint{padding:10px;margin:10px 0px;border-radius: 5px;line-height: 3pt;border:1px solid #ddd;background: #fff}
.doc-help{background: #f8f8f8}
.fn-hide{display: none;}
.centercode{background: #f8f8f8;}
.leftpic li{cursor:pointer;border-right: 1px solid rgb(88,150,213);padding: 5px 0;position: relative;}
.guide{width: 18px;height: 13px;background: url(images/time.png) no-repeat;display: inline-block;position: absolute;top: 40px;right: -2px;}
.start-cycle,.end-cycle{width: 10px;height: 10px;background: url(images/cycle3.png) no-repeat;display: inline-block;position: absolute;}
.start-cycle{top: -2px;right: -6px;}
.end-cycle{bottom: -2px;right: -6px;}
/*UI设计规范 begain*/
.clearfix{display:inline-table;zoom:1;_height:1%;display:block}
.clearfix:after{content:".";display:block;font-size:0;line-height:0;height:0;clear:both;visibility:hidden}
.ui_color .box{padding:8px;}
.ui_color .box dl dt{width:260px;height:70px;float:left;}
.ui_color .box dl dt p{-o-border-radius:5px;moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:#2873c3;height:50px; line-height:24px;}
.ui_color .box dl dt p.green{background:#1dc034;}
.ui_color .box dl dt p.orange{background:#f09000;}
.ui_color .box dl dt p.gray{background:#edf0f2;}
.ui_color .box dl dt p.white{background:#fff;}
.ui_color .box dl dd{float:left; padding-left:20px;}
.ui_color .box dl dd p{font-size:18px;color:#666;}
.ui_color .box dl dd p span{font-size:14px;color:#999;padding-left:15px;}
.ui_button table tr td{padding-top:10px;padding-bottom:10px;}
.ui_button p{font-size:18px; color:#333;padding:0px 8px;}
.ui_button p span{font-size:14px;color:#999;line-height:20px; display: block; float: left;}
.normalBtn{padding:8px 15px;font-size:12px;margin:0px;margin-right:5px;border-radius:3px;line-height:33px;}
.code{-o-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;padding:8px;background:#fff;border:solid 1px #dedede;}
.code h3{font-size:16px;color:#f75f5e;line-height:30px;}
.code p{font-size:14px;color:#666;line-height:30px;padding:0px;}
.text_spec h4,h4{font-size:16px;color:#f75f5e;line-height:40px;}
.text_spec p{color:#333;line-height:30px;}
.text_spec p span{color:#999;padding-left:15px;font-size:14px;}
.text_spec p i{display:block;float:left; width:24px;height:24px;}
.text_spec p b{display:block;float:left;padding-left:15px;font-weight:normal;}
/*UI设计规范 end*/
/*10085 通用样式begain*/
.search_table input[type='text']{height:18px;border:1px solid #e0e0e0; border-radius:2px;background:#fff;padding:4px;}
.search_table input.inputText{height:18px;border:1px solid #e0e0e0; border-radius:2px;background:#fff;padding:4px;}
.search_table select{height:30px;border:1px solid #e0e0e0; border-radius:2px;background:#fff;}
.search_table select.inputSelect{padding:5px;height:30px;border:1px solid #e0e0e0; border-radius:2px;background:#fff;font-size:12px;}
.search_table input[type='checkbox']{vertical-align: middle}
.search_table input.inputCheckbox{vertical-align: middle}
.search_table input.w80{width:80px}
.search_table input.w40{width:40px}
.search_table a.btn_search{display:block;width:100px;height:32px;line-height:32px;text-align:center;text-indent:20px;background:url(images/hn10085/btnBg_search.gif) no-repeat;color:#fff;font-family:Arial,Tahoma,"\5fae\8f6f\96c5\9ed1","\5B8B\4F53","STXihei";}
.search_table a.btn_search:hover{ text-decoration:none;color:#fff}
input.Wdate,.search_table input.Wdate{padding:5px 0px 5px 3px;background:#fff url('images/datePicker.gif') no-repeat right;border:1px solid #e0e0e0;border-radius:2px}
.search_table input.inputWidth{width:100px;height:30px;line-height:30px;padding:0px 3px;}
.search_table input.inputBggray{background:#eee}
.search_table select.inputWidth,.search_table select.text{width:108px;height:30px;line-height:30px;padding:0px 3px;padding:5px 3px 7px 3px\9}
input.inputWidth{width:100px;height:30px;line-height:30px;padding:0px 3px;}
.inputText{height:18px;border:1px solid #e0e0e0; border-radius:2px;background:#fff;padding:4px;}
.search_table td label.description{height:30px;line-height:32px;padding:0;text-align:right;color:#404040; font-size:12px; display:block;}
a.BGblue{border:1px solid #4A81C4;background:#3A8BE0 url(images/topBtn_bg.png) top left repeat-x;color:#fff;}
a.BGblue:hover{border:1px solid #4C90E5;background:#4BA0F5 url(images/topBtn_bg.png) top left repeat-x;color:#fff; text-decoration:none}
a.BGblue:active{border:1px solid #2F6AA6;background:#2873C3 url(images/topBtn_bg.png) top left repeat-x;color:#fff;}
a.BGgray{border:1px solid #D7DCE1;background:#F5F5F5 url(images/topBtn_bg.png) top left repeat-x;color:#989898;}
a.BGgray:hover{border:1px solid #E0E0E0;background:#fcfcfc url(images/topBtn_bg.png) top left repeat-x;color:#989898; text-decoration:none}
a.BGgray:active{border:1px solid #E0E0E0;background:#EBEBEB url(images/topBtn_bg.png) top left repeat-x;color:#989898;}
a.disable:link{border:1px solid #EDEFF1;background:#FAFAFA;color:#DFDFDF;cursor:default;}
a.disable:visited {border:1px solid #EDEFF1;background:#FAFAFA;color:#DFDFDF;cursor:default;}
a.disable:hover{border:1px solid #EDEFF1;background:#FAFAFA;color:#DFDFDF;cursor:default; text-decoration:none;}
a.disable:active{border:1px solid #EDEFF1;background:#FAFAFA;color:#DFDFDF;cursor:default;}
a.largeBtn{padding:12px 40px;font-size:14px;margin-right:20px;border-radius:3px;}
.normalBtnArea a.largeBtn{padding:12px 40px;font-size:14px;margin-right:20px;border-radius:3px;}
a.searchBtn{padding:8px 15px;font-size:12px;*vertical-align:bottom;*padding:5px 15px;line-height:100%;border-radius:3px;border:1px solid #4A81C4;background:#3A8BE0 url(images/topBtn_bg.png) top left repeat-x;color:#fff;}
a.searchBtn i{display:inline-block; vertical-align:middle;margin-right:5px;*margin-right:0px;height:25px;*vertical-align:bottom;width:20px;line-height:25px;background:url(images/sprite_outCall_toolbar.gif) 0px -158px no-repeat;*background-position:0px -154px;}
a.searchBtn:linik{padding:8px 15px;font-size:12px;*vertical-align:bottom;*padding:5px 15px;line-height:100%;border-radius:3px;border:1px solid #4A81C4;background:#3A8BE0 url(images/topBtn_bg.png) top left repeat-x;color:#fff;}
a.searchBtn:visited{background:#3A8BE0 url(images/topBtn_bg.png) top left repeat-x;color:#fff;}
a.searchBtn:hover{padding:8px 15px;font-size:12px;*vertical-align:bottom;*padding:5px 15px;line-height:100%;border-radius:3px;border:1px solid #4A81C4;background:#3A8BE0 url(images/topBtn_bg.png) top left repeat-x;color:#fff; text-decoration:none;}
a.searchBtn:active{padding:8px 15px;font-size:12px;*vertical-align:bottom;*padding:5px 15px;line-height:100%;border-radius:3px;border:1px solid #4A81C4;background:#3A8BE0 url(images/topBtn_bg.png) top left repeat-x;color:#fff;}
.selectAll{vertical-align: bottom;*vertical-align: middle;margin: 2px 5px 0px 11px;display:block;float:left;}
label{display: block;float: left;font-size:12px;color:#666;}
/* pagination */
.pagination {font-size:12px;}
.pagination a {text-decoration:none;border: solid 1px #E0E0E0;color: #999;background:#F5F5F5;}
.pagination a, .pagination span {font-family:Arial,Tahoma,"\5fae\8f6f\96c5\9ed1","\5B8B\4F53","STXihei"; display: block;float: left;padding: 5px 13px;margin-right: 5px;margin-bottom: 5px;border-radius:3px;}
.pagination .current {background: #398BE0;color: #fff;border: solid 1px #4A81C4;border-radius:3px;}
.pagination .current.prev, .pagination .current.next{color:#999;border-color:#E0E0E0;background:#F5F5F5;border-radius:3px;}
.fn-pr10{padding-right:10px}
.fn-pt5{padding-top:5px;}
.tabsArea{margin:0px 15px;*position:relative;*z-index:101;border-bottom:1px solid #E6E8E9;}
.tabsArea .tabsBtn{display:block;float:right;width:220px;height:34px;line-height:34px;text-align: right;}
.tabsArea .tabs{display: block;width:100%;height:34px;line-height:34px;*position:relative;*z-index:102;}
.ui-tab {margin: 0;padding: 0;padding-left:5px;position: relative;z-index:102;}
.ui-tab ul {list-style: none; margin: 0;padding: 0;}
.ui-tab li {list-style: none;vertical-align: top;position: relative;top: 1px;margin-left:-5px;}
.ui-tab-items {font-size: 14px;}
.ui-tab-item {display: inline-block;*display: inline; *zoom: 1;*margin-right: 4px;}
.ui-tab-item a { /*border-radius: 3px 3px 0 0;*/background: #FBFDFF;line-height: 32px;height: 32px;padding: 0 40px;border: 1px solid #D6D6D6;border-bottom: none;color: #4D4D4D;display: inline-block;*display: inline; *zoom: 1;transition: background-color 0.4s ease-out, color 0.4s ease-out;}
.ui-tab-content{background-color:#FBFDFF;padding:20px 20px;}
.ui-tab-item a,.ui-tab-item a:hover,.ui-tab-item a:active {color: #a3a3a3;}
.ui-tab-item-current{}
.ui-tab-item-current a {font-weight: bold;height: 30px;background:#F2F4F6;color:#696A6B;border-top:3px solid #FFAB00;}
.ui-tab-item a:hover {background: #EAF2FA;text-decoration: none;}
.ui-tab-item-current a:hover {background: #fff;}
/*10085通用样式end*/
/*文本框begain*/
.textbox p span{font-size:14px;color:#999;line-height:24px; float: left;}
/*复选框begain*/
.check_box{}
/*档次选择begain*/
.dc_choic .box{border:solid 1px #dddddd;background:url(images/wxz.png) no-repeat right top;height:55px;width:230px;}
.dc_choic .box p{text-align:center;font-size:12px;color:#333;line-height:55px;height:55px;overflow: hidden;}
.dc_choic .cur{border:solid 1px #ffaa00;background:url(images/xz.png) no-repeat right top;}
